@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

.changeThemeButton {
  position: fixed;
  width: 100px;
  top: 3%;
  right: 1%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 100ms ease-out;
  transform: scale(1);
  text-align: center;
}
.changeThemeButton:hover,
.changeThemeButton:focus {
  transform: scale(1.1);
}
.changeThemeButton .text {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Roboto", sans-serif;
  --background: url(images/background/Shigure\ Ui\ 01.jpg);
  --text-color: black;
  margin: 0;
  height: 99.9vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: gray;
  background: var(--background);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--text-color);
  transition: 0.5s ease-out;
}
body.sumireBackground {
  --background: url(images/background/sumireWallpaper.jpg);
  --text-color: black;
}
body.nazunaBackground {
  --background: url(images/background/nazunaWallpaper.jfif);
  --text-color: white;
}
h1 {
  padding: 1rem;
  font-size: 3rem;
  border: dashed black 4px;
  text-align: center;
}
.vtubers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 380px;
}
.vtubers figure img {
  height: 50vh;
  animation-duration: 1s;
  animation-name: slidein;
  box-shadow: 10px 10px 2px 2px rgb(175, 175, 175);
  transition: height 150ms ease-in-out;
}
.vtubers figure img:hover {
  height: 52vh;
}
figcaption {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.profileImage img {
  height: 70vh;
}
.sumire img {
  border: 5px solid #e0dde4;
}
.sumire figcaption {
  border: solid 0.2rem #e0dde4;
  background-color: #241323;
  color: #e0dde4;
}
.ui img {
  border: 5px solid #fce6cf;
}
.ui figcaption {
  border: 0.2rem solid #fce6cf;
  background-color: black;
  color: #fce6cf;
}
.nazuna img {
  border: 5px solid #341421;
}
.nazuna figcaption {
  border: 0.2rem solid #341421;
  background-color: white;
  color: #341421;
}

@keyframes slidein {
  from {
    margin-top: -150px;
    opacity: 0;
    box-shadow: 10px 10px 2px 2px grey;
  }
  to {
    margin-top: 0;
    opacity: 1;
    box-shadow: 10px 10px 2px 2px rgb(175, 175, 175);
  }
}

.button {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: solid 1px black;
  border-radius: 10px;
  z-index: 999;
  background-color: white;
  min-width: 300px;
  width: 40%;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
}
.modal-header .title {
  font-size: 2rem;
  font-weight: bold;
}
.title > * {
  display: inline;
}
.modal-header .closeButton {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
}
.modal-body {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
}
.profileText {
  text-align: justify;
  font-size: 1.25rem;
}
.youtube {
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube img {
  height: 3rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}

@media all and (max-width: 1200px) {
  body {
    height: auto;
    background: none;
    background-color: gray;
  }
  body.yellowish {
    background-color: rgb(160, 160, 1);
  }
  .modal-header .title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    flex-wrap: wrap;
    font-size: 1.5rem;
  }
  .modal-body {
    flex-wrap: wrap;
  }
  .profileImage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .profileImage img {
    height: 50vh;
  }
  .profileText {
    font-size: 1rem;
  }
}
@media all and (max-width: 870px) {
  h1 {
    margin-left: 15%;
    margin-right: 15%;
  }
  .changeThemeButton {
    width: 60px;
    transform: scale(0.8);
  }
  .changeThemeButton:hover,
  .changeThemeButton:focus {
    transform: scale(0.9);
  }
  .profileImage img {
    height: 40vh;
  }
}
@media all and (max-height: 500px) {
  .modal {
    width: auto;
    height: fit-content;
  }
  .modal-body {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
